---
import me from "../assets/me.jpg";

import Button from "./ColorfulButton.astro";
import ServerStatus from "./ServerStatus.astro";
import ContactForm from "./ContactForm.astro";
---

<div id="container">
	<main>
		<section id="hero">
			<img src={me.src} alt="Matt" />
			<h1>Welcome!</h1>
			<p>
				My name is Matt Choi and I am a software engineer based in San Diego. I have been working in
				the industry for over 10 years. I am passionate about building software to solve problems of all sizes and shapes.
				<br /><br />
				If you would like to get in touch with me, please submit the following form.
				<br /><br />
			</p>
			<ContactForm />
			<br />
			<section id="links">
				<Button
					href="mailto:digdug991@gmail.com"
					target="_blank"
					text="Email"
				/>
				<Button
					href="https://www.linkedin.com/in/matthewmchoi/"
					target="_blank"
					text="LinkedIn"
				/>
				<Button
					href="https://github.com/lululoo"
					target="_blank"
					text="GitHub"
				/>
			</section>

			<section id="footer">
				<ServerStatus />
			</section>
		</section>
	</main>
</div>

<style>
	#container {
		height: 100%;
		width: 100%;
	}

	main {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
		max-width: 800px;
	}

	#hero img {
		overflow-y: hidden;
		object-fit: contain;
		min-width: 200px;
	}

	#links {
		display: flex;
		gap: 16px;
		margin: 25px;
	}

	#footer {
		flex-grow: 0;
		flex-shrink: 0;
		margin-top: auto; /* Push to bottom */
	}

	p {
		margin: 0;
	}

	@media screen and (max-width: 480px) {
		#hero {
			padding-top: 10%;
		}

		#hero img {
			max-width: 300px;
			
		}
	}

	@media screen and (max-width: 768px) {
		#hero {
			padding-top: 10%;
		}
	}
</style>
